@import '@angular/material/theming';
@include mat-core();

$my-primary: mat-palette($mat-blue);
$my-secondary: mat-palette($mat-indigo, A200, A400, 700);
$my-warn: mat-palette($mat-red);

$my-theme: mat-light-theme($my-primary, $my-secondary, $my-warn);

// Emit theme-dependent styles for common features used across multiple components.
@include angular-material-theme($my-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
